body {
  display: flex;
  font-family: "Helvetica", monospace;
  background-color: #333333;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(72,0,111,1) 30%, rgba(72,0,111,1) 70%, rgba(0,0,0,1) 100%);
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}
.inp-btn{
  display: flex;
  justify-content: space-around;
}
.input {
  padding: 0 10px;
  width: 40%;
  margin: 10px 0;
  border-radius: 12px;
  color: #AA076B;
  font-size: 1.5rem;
  border: solid 3px;;
}

.btnInicio {
  padding: 10px 20px;
  margin: 10px 0;
}

#imagen {
  height: 90%;
  border: 2px solid#601c69;
}

.seleccion {
  display: none;
  flex-flow: column;
  width: 100%;
}
.personajes {
  display: flex;
  justify-content: space-around;
}
.personajes img{
  opacity: 0.5;
  transition: opacity 0.3s;
}
.personajes img:hover{
  opacity: 1;
}

.box {
  width: 30%;
  height: 600px;
  display: flex;
  justify-content: center;
}
.box img{
  border-radius: 15px;
  border: 4px solid #601c69;
}
.hSeleccion{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f5f5;
  font-size: 40px;
  border-radius: 12px;
  height: 60px;
  width: 100%;
  margin: 20px auto;
}

#nombres {
  display: flex;
  height: 10%;
  justify-content: space-around;
}
#vidas {
  display: flex;
  height: 15%;
  justify-content: space-around;
}
#contenedor-img {
  display: flex;
  justify-content: center;
  height: 60%;
}
#botones {
  display: flex;
  justify-content: space-around;
}

#divReiniciar {
  display: none;
  height: 15%;
  justify-content: space-around;
}

#mostrarInicio {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.contenedor2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contenedor3{
  text-align: center;
}


.contenedor-flex {
  display: none;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

#izq {
  width: 60%;
  display: flex;
  flex-flow: column;
}

#der {
  width: 40%;
  border: 2px solid#601c69;
  margin: 10px;
  border-radius: 8px;
  max-height: 90vh;
  overflow-y: auto;
  text-align: center;
}

p {
  margin: 10px;
  color: #f7f7f7;
}
#stats {
  color: #ffffff;
  text-align: center;
  display: none;
}

button {
  padding: 10px 20px;
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  color: #ffffff;
  text-align: center;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.vidas {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  border: 2px solid#000000;
  color: #f7f5f5;
  font-size: 2.5rem;
  border-radius: 12px;
  margin: auto;
  padding: 15px 40px;
}
.nombres {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f7f5f5;
  font-size: 2rem;
  margin: auto;
  width: 50%;
}
